<div class="w-full bg-zinc-900 px-8 py-2 flex items-center justify-between">
  <div
    class="text-gray-800 bg-white py-2 px-4 rounded-full flex items-center gap-x-4"
  >
    <fa-icon class="text-2xl" [icon]="faSearch"></fa-icon>
    <input class="outline-none w-80" />
  </div>
  <div class="flex gap-x-10 items-center">
    <div class="flex gap-x-4 text-xl font-medium text-gray-400">
      <a class="" routerLink="/">Premium</a>
      <a routerLink="/">Support</a>
      <a routerLink="/">Download</a>
    </div>
    <div class="flex items-center gap-x-8">
      <a routerLink="/" class="text-xl font-medium text-gray-400">Sign up</a>
      <a
        class="text-xl font-medium text-gray-900 bg-white px-7 py-3 rounded-full"
        routerLink="/"
      >
        Log in
      </a>
    </div>
  </div>
</div>
